body{
  margin: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}
p{
  line-height: 30px;
}
h1{
  color:#36AE7C;
}
h2{
    color:#36AE7C;
    font-weight: normal;
}
a{
  color: #00092C;
}
h3{
  color: #36AE7C;
}
hr{
  border: dotted #D0C9C0 6px;
  border-bottom: none;
  margin: 80px auto;
  width:4%;
}
.top-container{
    background-color: #383838;
    margin-top: 0;
    padding-top: 0;
}
.title{
  margin: 0;
  color: #A1E3D8;
  padding-top: 200px;
  font-size: 5.625rem;
  font-family: 'Sacramento',cursive;
}
.a-Dev{
  font-size: 2.5rem;
  color:#A1E3D8;
  font-style: italic;
}

.mickey{
    position: absolute;
    display: inline-block;
    width:auto;
    height: 150px;
    top: 50px;
    right: 300px;
}

.mnm{
  position: absolute;
  display: inline-block;
  width:auto;
  height: 150px;
  top: 400px;
  left: 250px;
}
.logo{
  display: inline-block;
  margin: 50px auto 0;
  padding:0;
  }

.dp{
    width: 10%;
    position: relative;
    top: 15px;
    padding-top: 50px;
  }

.my-skills{
    margin: 80px auto;
  }

.skill-row{
  width: 50%;
  margin:50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.skill-1{
  margin-top: 15px;
  float: left;
  margin-right: 30px;
  width: 30%;
}

.skill-2{
  float: right;
  margin-left: 30px;
  width: 20%;
  margin:0;
}

.greeting{
  padding-top: 20px;
  padding-bottom:20px;
  font-weight: bold;
  position: relative;
  font-size: 3rem;
  top: 10px;
}

.my-skills{
  font-weight: bold;
  font-size: 3rem;
}

.bottom-h3{
  margin: 0 0 25px 0;
}

.getintouch-content{
  display: inline-block;
  width: 500px;
  text-align: center;
  font-weight: bold;
}

.btn{
  display: inline-block;
  margin: 40px 0 80px 0;
  text-decoration:none;
  font-size: 1.25rem;
  background-color: #36AE7C;
  color: white;
  font-family: Nunito;
  letter-spacing: 0.7px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  padding: 7px 22px 7px 22px;
  background-image: -webkit-linear-gradient(top, #36AE7C, #00693d);
background-image: -moz-linear-gradient(top, #36AE7C, #00693d);
background-image: -ms-linear-gradient(top, #36AE7C, #00693d);
background-image: -o-linear-gradient(top, #36AE7C, #00693d);
background-image: linear-gradient(to bottom, #36AE7C, #00693d);
}

.btn:hover {
  background: #36AE7C;
  background-image: -webkit-linear-gradient(top, #36AE7C, #1ded96);
  background-image: -moz-linear-gradient(top, #36AE7C, #1ded96);
  background-image: -ms-linear-gradient(top, #36AE7C, #1ded96);
  background-image: -o-linear-gradient(top, #36AE7C, #1ded96);
  background-image: linear-gradient(to bottom, #36AE7C, #1ded96);
  text-decoration: none;
}

.bottom-container{
  background-color: #36AE7C;
  padding: 80px 0 20px 0;
}

.footer-link{
  display: inline-block;
  font-family: Sacramento;
  text-decoration: none;

  font-size: 2rem;
  padding-top: 10px;
  padding-right: 25px;
  padding-left: 25px;
}

.footer-link:hover{
  color: white;
}

.credit{
  font-family: Nunito;
  font-weight: bold;
  text-align: center;
}
